<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
		<title>Home</title>
	</head>
	<body id="body">
        <div class="container"></div>
        <h1>404</h1>
        <p>Упс! Страница не найдена.</p>
        <p>К сожалению, мы не можем найти страницу, которую вы ищете.</p>
        <p><a href="/main">Вернуться на главную страницу</a></p>
    </div>
	</body>
</html>
