<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
		<title>Home</title>
	</head>
	<body id="body">
		<div class="background"></div>
		<main class="diagramm__sec">
			<nav class="menu"  >
				<div class="menu_container" id="menu_id" onmouseenter="MouseOver()" onmouseleave="MouseLeave()">
					<img id="arrow" class="arrow" src="../static/images/arrow2.png" alt="">
					<div class="menu_wrap">
						<button class="menu_btn" onclick="location.href='/main'"><img id="chart" src="../static/images/chart.png" alt=""></button>
                    	<button class="menu_btn"  onclick="location.href='/profile'"><img id="profile" src="../static/images/profile.png" alt=""></button>                
                    	<button class="menu_btn"  onclick="location.href='#!'"><img id="notification" src="../static/images/notification.png" alt=""></button>
                    	<button class="menu_btn"  onclick="location.href='#!'"><img id="settings" src="../static/images/settings.png" alt=""></button>
						<button class="menu_btn" onclick="location.href='/logout'"><img id="exit" src="../static/images/reject.png" alt=""></button>
					</div>					
				</div>				
			</nav>
			<section class="main_sec">
				<div class="diag">
					<main class="diagramm">
						<div><canvas id="toolTip" aria-label="chart" height="350" width="600"></canvas></div>
					 </main>
					 <div class="carbon__">
						<p>Последний углеродный след составил</p>
						<p id="carbon_id"></p>
					</div>
				</div>	
				
				<div class="dailyAct">
					<div class="dailyTab">
						<div class="title">
							<img src="../static/images/aim.png" alt="">
							<h3>Ежедневные задания</h3>
						</div>
						<ul class="activity_list">
							<li>
								<img src="../static/images/tick.png" alt="">
								<div class="li_"><p>Задание</p></div>
								
							</li>
						</ul>
						
					</div>
				</div>				
			</section>
					 

			<div
				class="container_"
				data-date="{{ date }}"
				data-ratio="{{ ratio }}"></div>
		</main>
		
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>
