<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
		<title>Homeeeeee</title>
	</head>
	<body id="body">
		<div class="background"></div>
		<main>
			<nav class="menu">
				<img src="" alt="dasdas">
				<button onclick="location.href='/new_transaction'"><img src="" alt="calculate"></button>
			</nav>
			<div class="container">
				
			</div>
			 <main>
				<div><canvas id="toolTip" aria-label="chart" height="350" width="350"></canvas></div>
			 </main>

			<div
				class="container_"
				data-date="{{ date }}"
				data-ratio="{{ ratio }}"
			></div>
		</main>
		
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>
