<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Register</title>
</head>
<body>    
        <main>
            <div class="container">
                <div class="form__div">
                    <img class="logo" src="../static/images/centrinvest-logotic.png" alt="Центр-Инвест">
                    <form id='log_form' action="/login" method="post" >                
                        <input class="input_" type="email" name="email_log" id="email_" placeholder="Почта" required>
                        <input class="input_" type="password" id="password" name="pass_log" placeholder="Пароль" required>                
                        <button class="btn" type="submit"><p>Войти</p></button>                        
                    </form>
                    <button class="href" method="GET" onclick="location.href='/'"><p>Регистрация</p></button>
                </div>
                
            </div>
        </main>
    
    <!-- <script src="{{url_for('static',filename='main.js')}}"></script> -->
</body>
</html>
