<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Register</title>
</head>
<body>
    {% if userReg %}
        <main>
            <div class="container">
                <div class="form__div">
                    <img class="logo" src="../static/images/centrinvest-logotic.png" alt="Центр-Инвест">
                    <form id='log_form' action="/login" method="post" >                
                        <input class="input_" type="email" name="email_log" id="email_" placeholder="Почта" required>
                        <input class="input_" type="password" id="password" name="pass_log" placeholder="Пароль" required>                
                        <button class="btn" type="submit"><p>Войти</p></button>
                    </form>
                </div>
                
            </div>
        </main>
    {% else %}
        <main>
            <div class="container">
                <div class="form__div">
                    <img class="logo" src="../static/images/centrinvest-logotic.png" alt="Центр-Инвест">
                    <form id='reg_form' action="/" method="post" >
                        <input class="input_" type="text" name="log" id="login_" placeholder="Ф. И. О." required>
                        <input class="input_" type="email" name="email_" id="email_" placeholder="Почта" required>
                        <input class="input_" type="password" id="password" name="pass" placeholder="Пароль" required>   
                        <div>
                            <button class="btn" type="submit"><p>Зарегистрироваться</p></button>
                            <button class="href" method="GET" onclick="location.href='/login'"><p>Вход</p></button>
                        </div>                 
                        
                    </form>
                </div>                
            </div>
        </main>
    {% endif %}
    <!-- <script src="{{url_for('static',filename='main.js')}}"></script> -->
</body>
</html>
