<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Register</title>
</head>
<body>
        <main>
            <div class="container">
                <form id='reg_form' action="/" method="post" >
                    <input type="text" name="log" id="login_" placeholder="Ф. И. О." required>
                    <input type="email" name="email_" id="email_" placeholder="Почта" required>
                    <input type="password" id="password" name="pass" placeholder="Пароль" required>
                    <input type="password" name='rep_pass'id="rep_password" placeholder="Повторите пароль" required>
                    <button type="submit"><p>Зарегистрироваться</p></button>
                </form>
            </div>
        </main>
        <script src="{{url_for('static',filename='main.js')}}"></script>
</body>
</html>
