<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Register</title>
</head>
<body>
        <main>
            <div class="container">
                <form id='reg_form' action="/" method="post" >
                    <input type="text" name="" id="login_" placeholder="Ф. И. О.">
                    <input type="email" name="" id="email_" placeholder="Почта">
                    <input type="password" id="password" placeholder="Пароль">
                    <input type="password" name="" id="rep_password" placeholder="Повторите пароль">
                    <button type="submit"><p>Зарегистрироваться</p></button>
                </form>
            </div>
        </main>
</body>
</html>
