<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
		<title>Homeeeeee</title>
	</head>
	<body id="body">
		<div class="background"></div>
		<main class="profile__sec">
			<nav class="menu"  >
				<div class="menu_container" id="menu_id" onmouseenter="MouseOver()" onmouseleave="MouseLeave()">
					<img id="arrow" class="arrow" src="../static/images/arrow2.png" alt="">
					<div class="menu_wrap">
						<button class="menu_btn" onclick="location.href='/main'"><img id="chart" src="../static/images/chart.png" alt=""></button>
                    	<button class="menu_btn"  onclick="location.href='/profile'"><img id="profile" src="../static/images/profile.png" alt=""></button>                
                    	<button class="menu_btn"  onclick="location.href='#!'"><img id="notification" src="../static/images/notification.png" alt=""></button>
                    	<button class="menu_btn"  onclick="location.href='/settings'"><img id="settings" src="../static/images/settings.png" alt=""></button>
						<button class="menu_btn" onclick="location.href='/logout'"><img id="exit" src="../static/images/reject.png" alt=""></button>
					</div>					
				</div>				
			</nav>	
            <section class="prof">
                <form action="/settings" method="post" class="prof_card">
                    <div class="change_img">
                        <div class="logo_profile">
                            <img  src="data:image/jpeg;base64, {{userPhoto}}" alt="">
                        </div>                           
                        <input class="logo_change" id="file" name="photo" type="file" accept="image/*"><label class="logo_change" for="file"><img src="../static/images/pencil.png" alt=""></label>
                    </div>                                     
                    <div class="prof_text">
                        <h1>Информация о пользователе</h1>
                        <input type="text" placeholder="Изменить имя" class="user_name" name="nameUser" value="{{userLogin}}">                        
                        <p>Почта: {{userEmail}}</p>
                        <p>ID: {{userId}}</p>
                        <button type="submit" name="set_btn" class="btn">Сохранить</button>
                    </div>                    
                </form>
            </section>	           
		</main>

		
    	
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>
