<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
    <title>Transaction</title>
</head>
<body>
    <main>
        <div class="background"></div>
        <div class="container">
            <form id="trans_form" action="/new_transaction" method="post">                
                <input class='input_' name="email" type="text" placeholder="Введите товар" required>                
                <button type="submit" class="btn"><p>Отправить</p></button>
            </form>
        </div>
    </main>
    
</body>
</html>